@import url('reset.css');

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* GLOBAL CLASSES */
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.3;
	font-size: 14px;
	color: #212121;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	
}



.header {
	border: 1px solid #ECECEC;
	padding: 25px 0;
	font-weight: 500;
}

.header-container {
	display: flex;
	align-items: center;
}

.header-logo {
	padding: 24 25;
}

.header-menu {
	display: flex;
	gap: 50px;
	margin-left: 90px;
}

.header-menu a.active {
	color: #2196F3;
}

.header-second-menu {
	margin-left: auto;
	display: flex;
	gap: 50px;
}
.filters{
position: relative;

}
.new-menu{
display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  background: #fff;
  border: 2px solid #EEEEEE;
  width: 150px;
  text-align: center;
}
.new-menu li {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.filters:hover .new-menu {
  display: block;
}
.menu-text_filter-all .all_button{
 
  background: #2b86d6;
  color: #fff;
  padding: 10px 10px;
  
}
 
.menu-text_filter-all:hover .all_button {
  transform: translateX(-100px);
  opacity: 1;
}
.all_all {
  position: absolute;
  top: 0;
  right: 100%;         
  opacity: 0;
  width: 100%;
  
}

.menu-text_filter-all {
  position: relative;  
  padding: 10px;
}

.menu-text_filter-all:hover .all_all {
	transform: translateX(100px);
  opacity: 1;
  pointer-events: auto;
}
.all_button {
  display:block;
  color: #fff;
  font-weight: 500;
  border: 1px solid #EEE;
}
.header-menu a,
.header-second-menu a {
	color: #212121;
	text-decoration: none;
}

.header-menu a:hover,
.header-second-menu a:hover {
	color: #2196F3;
}
.main{
	padding: 94px 0 ;
}
.main-container{
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: center;
	
		
}
.menu-button{
font-size: 16px;
font-weight: 500;
padding: 6px 26px 6px;
background-color:#F5F4FA ;
color: #212121;
cursor: pointer;
}
.menu-button_all{
	padding: 6px 26px 6px;
	font-size: 16px;
	font-weight: 500;
	background-color:#2196F3 ;
	color:#FFFFFF ;
	cursor: pointer;
}
.cards{
	padding: 34px 0 ;	
}
.all-cards{
	display: flex;
	gap: 30px;
	flex-wrap: wrap;	
}
.main-title{
	font-size: 18px;
	font-weight: 700;	
}
.main-list{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	letter-spacing: 1px;
	border: 1px solid #EEEEEE;		
}
.main-card{
	flex: 1 1 30%;	
	position: relative;
  
	
}

.cards-link  {
	display: block;
	min-height: 294px;
	position: relative;	
}
.text-cards {
  
  display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background:#2196F3E5;
  color: #FFFFFF;
  opacity: 0;
  line-height: 1.5;
  padding: 63px 24px;

  
}
.cards-link img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}
.main-card:hover .text-cards {
  opacity: 1;
}
.text-desc{
font-weight: 400;
font-size: 18px;

}


.main-title_desc{
	padding: 20px 24px 20px;
}	
.main-card-desc{
	
	font-size: 16px;
	font-weight: 400;
	color:#757575 ;
	margin-top: 10px;
	
	
}

.footer{
    padding: 60px 0;
	background-color:#2F303A ;
}


.footer-logo{
	display: inline-block;
	
}
	 

.footer-title{	
	color:#FFFFFF;
	

}
.inform{
	font-size: 14px;
	font-weight: 400;
	padding-top: 9px;
	color: #FFFFFF99;
}
.info{
	color:#FFFFFF99 ;
	font-size: 14px;
	font-weight: 400;
	padding-top:  9px;
	
}